__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

front/node_modules
front/build
front/.env.local
front/.env.development.local
front/.env.test.local
front/.env.production.local
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*

.DS_Store
.vscode
.idea
*.swp
*.swo